* {margin: 0; padding: 0; font-family: sans-serif; text-decoration: none; box-sizing: border-box;}
.fa-solid{
    cursor: pointer;
    display: block;
    color: black;
}
.fa-solid:enabled{
    color: rgb(0, 0, 0);
}

.fa-delete {
    width: 300px;
    height: 400px;
    display: block;
}
body{background-color: rgb(136, 136, 136);}
form {
    margin: 20px auto !important;
    width: 280px;
    padding: 0px auto;
}
form input:not([type="submit"]) {
    display: block;
    height: 60px !important;
    font-size: 35px;
    width: inherit !important;   
}

form input {
    display: block;
    width: 88px;
    font-size: 20px;
    height: 55px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(36, 36, 36);
}

form input:focus{
    border: 1px solid rgb(36, 36, 36);
    outline: none;
}

ul {
    width: 900px;
    height: auto;
    margin: 0 auto;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
    align-items: center;
    height: 100px;
    text-align: left;
    font-size: 25px;
    border-radius: 5px;
    margin: 3px 0;
    background-color: rgb(198, 198, 255);
    border-bottom: 2px solid rgb(53, 53, 53);
    padding: 0px 27px;
    transition: 0.3s;
}

li:hover{transform: scale(1.02, 1.02);}
.actions {
    display: flex;
    width: 8%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
li > a {
    display: block;
    color: rgb(66, 66, 66); 
    width: 450px; height: 100px; 
    background-size: 60px; 
    transition: 500ms;
}
li > a:hover {
    color: black; 
    border: 5px;
    background-color: rgb(178, 178, 229);
}

.actions a {
    display: block;
}

#delete {
    display: flex;
    width: 60px;
    height: 100px;
    padding: 6px 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#delete > button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 22px;
    height: 25px;
    background: url("trash-solid.svg") no-repeat;
}